@* <div class="p-3 footerStyle" data-bs-theme="dark">
    <div class="container-xxl">
        <!-- row-cols-1 = stack for phones, row-cols-md-3 = horizontal for tablets and up-->
        <div class="row row-cols-1 row-cols-md-3 text-center align-items-center">
            <div class="col">
                <div class="row">
                    <div class="col-12">
                        <span> class="me-1">Built By</span>
                        <img src="" height=30 />
                    </div>
                    <div class="col-12">
                        &copy; 2024 Gabor Kovacs
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <img src="images\logo.png" height="50"/>
                <div>
                    Powered By Powered by <a href="https://www.themoviegb.org/">

                    </a>
                </div>
            </div>
            <div class="col text-md-end">

            </div>
        </div>
    </div>
</div> *@