@inherits LayoutComponentBase

@* <nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <img src="wf.png" alt="logo" width="30" height="24" class="d-inline-block align-text-top">
            <div class="vr mx-2"></div>
            <span>Enterprise MyApplication TM.</span>
        </a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTarget"
                aria-controls="navbarTarget" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse justify-content-end" id="navbarTarget">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="#">Email Support</a>
                <a class="nav-link" href="#">FAQ</a>
                <a class="nav-link" href="#">Logout</a>
            </div>
        </div>

</nav> *@


@Body
